<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.odo.b2b.backend.ODO_B2B.mapper.AreaMapper">

    <select id="findAreaIdByName" resultType="string">
        SELECT areaId FROM area WHERE areaName = #{areaName}
    </select>

    <resultMap id="AreaDTOMap" type="com.odo.b2b.backend.ODO_B2B.model.Area.AreaDTO">
        <result property="areaName" column="areaName"/>
    </resultMap>

    <resultMap id="AreaWithIdMap" type="com.odo.b2b.backend.ODO_B2B.model.Area.AreaWithID">
        <id property="id" column="areaId"/>
        <association property="area" resultMap="AreaDTOMap"/>
    </resultMap>

    <select id="getAllAreas" resultMap="AreaWithIdMap">
        SELECT areaId, areaName FROM area
    </select>

    <delete id="deleteAreaById" parameterType="string">
        DELETE FROM area WHERE areaId = #{areaId}
    </delete>

    <insert id="insertArea">
        INSERT INTO area (areaId, areaName)
        VALUES (#{id}, #{areaName})
    </insert>

</mapper>
