<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.odo.b2b.backend.ODO_B2B.mapper.ItemMapper">

    <resultMap id="AreaWiseSlabMap" type="com.odo.b2b.backend.ODO_B2B.model.Item.AreaWiseSlabData">
        <result property="areaName" column="areaName"/>
        <result property="areaId" column="areaId"/>
        <result property="slab_1_discount" column="slab_1_discount_area"/>
        <result property="slab_2_discount" column="slab_2_discount_area"/>
        <result property="slab_3_discount" column="slab_3_discount_area"/>
        <result property="slab_1_start" column="slab_1_start_area"/>
        <result property="slab_1_end" column="slab_1_end_area"/>
        <result property="slab_2_start" column="slab_2_start_area"/>
        <result property="slab_2_end" column="slab_2_end_area"/>
        <result property="slab_3_start" column="slab_3_start_area"/>
        <result property="slab_3_end" column="slab_3_end_area"/>
    </resultMap>

    <resultMap id="ItemDTOMap" type="com.odo.b2b.backend.ODO_B2B.model.Item.ItemDTO">
        <result property="imgUrl" column="imgUrl"/>
        <result property="itemName" column="itemName"/>
        <result property="itemPrice" column="itemPrice"/>
        <result property="itemPriceGST" column="itemPriceGST"/>
        <result property="slab_1_discount" column="slab_1_discount_default"/>
        <result property="slab_2_discount" column="slab_2_discount_default"/>
        <result property="slab_3_discount" column="slab_3_discount_default"/>
        <result property="slab_1_start" column="slab_1_start_default"/>
        <result property="slab_1_end" column="slab_1_end_default"/>
        <result property="slab_2_start" column="slab_2_start_default"/>
        <result property="slab_2_end" column="slab_2_end_default"/>
        <result property="slab_3_start" column="slab_3_start_default"/>
        <result property="slab_3_end" column="slab_3_end_default"/>
        <result property="brandId" column="brandId"/>
        <result property="categoryId" column="categoryId"/>
        <result property="itemDetails" column="itemDetails"/>
        <collection property="areaWiseSlabData"
                    ofType="com.odo.b2b.backend.ODO_B2B.model.Item.AreaWiseSlabData"
                    resultMap="AreaWiseSlabMap"/>
    </resultMap>

    <resultMap id="ItemWithIdMap" type="com.odo.b2b.backend.ODO_B2B.model.Item.ItemWithID">
        <id property="id" column="itemId"/>
        <association property="item" resultMap="ItemDTOMap"/>
    </resultMap>

    <select id="getAllItemsOfBrand" parameterType="string" resultMap="ItemWithIdMap">
        select i.itemId,
        i.imgUrl ,
        i.itemName,
        i.itemPrice,
        i.itemPriceGST,
        i.slab1Discount as slab_1_discount_default,
        i.slab2Discount as slab_2_discount_default,
        i.slab3Discount as slab_3_discount_default,
        i.slab1Start as slab_1_start_default,
        i.slab2Start as slab_2_start_default,
        i.slab3Start as slab_3_start_default,
        i.slab1End as slab_1_end_default,
        i.slab2End as slab_2_end_default,
        i.slab3End as slab_3_end_default,
        i.slab3End as slab_3_end_default,
        i.brandId,
        i.categoryId,
        i.ItemDetails as itemDetails,
        asi.areaId,
        asi.slab1Discount as slab_1_discount_area,
        asi.slab2Discount as slab_2_discount_area,
        asi.slab3Discount as slab_3_discount_area,
        asi.slab1Start as slab_1_start_area,
        asi.slab2Start as slab_2_start_area,
        asi.slab3Start as slab_3_start_area,
        asi.slab1End as slab_1_end_area,
        asi.slab2End as slab_2_end_area,
        asi.slab3End as slab_3_end_area,
        a.areaName as areaName
        from item i left join area_slab_item asi on i.itemId = asi.itemId left join area a on asi.areaId=a.areaId
        where brandId=#{brandId}
    </select>




    <insert id="insertItem" parameterType="map">
        INSERT INTO item (
        itemId, imgUrl, itemName, itemPrice, itemPriceGST,
        slab1Discount, slab1Start, slab1End,
        slab2Discount, slab2Start, slab2End,
        slab3Discount, slab3Start, slab3End,
        brandId,categoryId,itemDetails
        ) VALUES (
        #{itemId}, #{imgUrl}, #{itemName}, #{itemPrice}, #{itemPriceGST},
        #{slab_1_discount}, #{slab_1_start}, #{slab_1_end},
        #{slab_2_discount}, #{slab_2_start}, #{slab_2_end},
        #{slab_3_discount}, #{slab_3_start}, #{slab_3_end},
        #{brandId},#{categoryId},#{itemDetails}
        )
    </insert>

    <insert id="insertAreaSlabForItem" parameterType="map">
        INSERT INTO area_slab_item (
        itemId,areaId,slab1Discount, slab1Start, slab1End,slab2Discount, slab2Start, slab2End,slab3Discount, slab3Start,slab3End
        ) VALUES (
        #{itemId},#{areaId},#{slab_1_discount}, #{slab_1_start}, #{slab_1_end},
        #{slab_2_discount}, #{slab_2_start}, #{slab_2_end},
        #{slab_3_discount}, #{slab_3_start}, #{slab_3_end}
        )
    </insert>

    <update id="updateItem" parameterType="map">
        UPDATE item
        SET
        imgUrl = #{imgUrl},
        itemName = #{itemName},
        itemPrice = #{itemPrice},
        itemPriceGST = #{itemPriceGST},
        slab1Discount = #{slab_1_discount},
        slab1Start = #{slab_1_start},
        slab1End = #{slab_1_end},
        slab2Discount = #{slab_2_discount},
        slab2Start = #{slab_2_start},
        slab2End = #{slab_2_end},
        slab3Discount = #{slab_3_discount},
        slab3Start = #{slab_3_start},
        slab3End = #{slab_3_end},
        brandId = #{brandId},
        categoryId = #{categoryId},
        itemDetails = #{itemDetails}
        WHERE
        itemId = #{itemId}
    </update>

    <delete id="deleteItemById" parameterType="string">
        DELETE FROM item WHERE itemId = #{itemId}
    </delete>

    <delete id="deleteAreaSlabs" parameterType="string">
        DELETE FROM area_slab_item WHERE itemId = #{itemId}
    </delete>


</mapper>
