<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.odo.b2b.backend.ODO_B2B.mapper.ItemMapper">

    <insert id="insertItem" parameterType="map">
        INSERT INTO item (
        itemId, imgUrl, itemName, itemPrice, itemPriceGST,
        slab1Discount, slab1Start, slab1End,
        slab2Discount, slab2Start, slab2End,
        slab3Discount, slab3Start, slab3End,
        brandId,categoryId
        ) VALUES (
        #{itemId}, #{imgUrl}, #{itemName}, #{itemPrice}, #{itemPriceGST},
        #{slab_1_discount}, #{slab_1_start}, #{slab_1_end},
        #{slab_2_discount}, #{slab_2_start}, #{slab_2_end},
        #{slab_3_discount}, #{slab_3_start}, #{slab_3_end},
        #{brandId},#{categoryId}
        )
    </insert>


</mapper>
