<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.odo.b2b.backend.ODO_B2B.mapper.MemberMapper">

    <insert id="insertNotification">
        INSERT INTO member_notification (
        notificationId,
        GST,
        areaId,
        contact,
        name,
        shop,
        shopAddress,
        deviceToken,
        latitude,
        longitude
        ) VALUES (
        #{id},
        #{GST},
        #{areaId},
        #{contact},
        #{name},
        #{shop},
        #{shopAddress},
        #{deviceToken},
        #{latitude},
        #{longitude}
        )
    </insert>

</mapper>
