<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.odo.b2b.backend.ODO_B2B.mapper.OrderMapper">

    <insert id="insertOrder" parameterType="map">
        INSERT INTO orders (
        orderId,
        gst,
        area,
        contact,
        deliveryLatitude,
        deliveryLongitude,
        deviceToken,
        items,
        orderDate,
        orderTime,
        orderedBy,
        shop,
        shopAddress,
        totalPrice,
        totalPriceAfterDiscount,
        statusCode
        ) VALUES (
        #{orderId},
        #{order.GST},
        #{order.area},
        #{order.contact},
        #{order.deliveryLatitude},
        #{order.deliveryLongitude},
        #{order.deviceToken},
        #{order.itemsJSON},
        #{order.orderDateRectified},
        #{order.orderTime},
        #{order.orderedBy},
        #{order.shop},
        #{order.shopAddress},
        #{order.totalPrice},
        #{order.totalPriceAfterDiscount},
        #{order.orderStatus}
        )
    </insert>











</mapper>
